body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("./assets/bg/bg_5_tp_30.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

* {
  font-family: "Montserrat", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.name {
  font-size: 60px;
  font-weight: 700;
  color: white;
}

#easteregg {
  display: none;
  font-size: 20px;
  color: grey;
}